#a {
    color:black;
    font-size: 100px;
}

#b {
    color: aqua;
    font: 20px;
}

/* Inserindo cor na escrita/*
/* Inserindo tamanho através da font-size/*
/* Pegando ID das tags através da # /*